/* ============================================== */
/* ================= BASES  ===================== */
/* ============================================== */

/*--- friends list (Staff > Turbo > Nitro) ---*/
.avatar-small+.discord-tag .username::before,
/*--- friends list (Verified > Plugin Developer > Supporter > Beta) ---*/
.avatar-small+.discord-tag .username::after,
/*--- channel members wrap (Staff > Turbo > Nitro) ---*/
.avatar-small+.member-inner .member-username::before,
/*--- channel members wrap (Verified > Plugin Developer > Supporter > Beta) ---*/
.avatar-small+.member-inner .member-username-inner::before,
/*--- chat area, includes main chat, mentions popout, pinned messages, etc ---*/
.avatar-large+.comment .username-wrapper::before,
/*--- chat area, includes main chat, mentions popout, pinned messages, etc ---*/
.avatar-large+.comment .username-wrapper::after
 {
    content: none;
    background-repeat: no-repeat;
    font-size: 1px;
    margin-right: 7px;
    height: 18px;
    width: 18px;
    line-height: 16px;
    cursor: default;
    pointer-events: none;
    float: left;
    position: relative;
}

/* =========================================== */
/* ============== OGIEN BADGES  =============== */
/* =============  ============== */

/*--- chat area, includes main chat, mentions popout, pinned messages, etc ---*/
.avatar-large[style*="186817801741271040"]+.comment .username-wrapper::after,
.avatar-large[style*="186609657928744962"]+.comment .username-wrapper::after,
/*--- channel members wrap ---*/
.avatar-small[style*="186817801741271040"]+.member-inner .member-username-inner::before,
.avatar-small[style*="186609657928744962"]+.member-inner .member-username-inner::before,
.avatar-small[style*=""]+.member-inner .member-username-inner::before,
/*--- friends list ---*/
.avatar-small[style*="186817801741271040"]+.discord-tag .username::after,
.avatar-small[style*="186609657928744962"]+.discord-tag .username::after {
    content: '';
    background: url('https://i.imgur.com/oW0syjV.png');
}

/* =============================================== */
/* ============== serce BADGES  ============== */
/* =============================================== */

/*--- chat area, includes main chat, mentions popout, pinned messages, etc ---*/
.avatar-large[style*="186609657928744962"]+.comment .username-wrapper::after,/*lilek*/
.avatar-large[style*="369188986775666689"]+.comment .username-wrapper::after,/*ami*/
/*--- channel members wrap ---*/
.avatar-small[style*="186609657928744962"]+.member-inner .member-username-inner::before,
.avatar-small[style*="369188986775666689"]+.member-inner .member-username-inner::before,
/*--- friends list ---*/
.avatar-small[style*="186609657928744962"]+.discord-tag .username::after,
.avatar-small[style*="369188986775666689"]+.discord-tag .username::after {
    content: '';
    background: url('https://i.imgur.com/XjbdzLu.png');
}

/* ============================================== */
/* ============== toporek BADGES  ============== */
/* ============== ======================== */

/*--- chat area, includes main chat, mentions popout, pinned messages, etc ---*/
/* 5/12/2018 */ .avatar-large[style*="141944217474826240"]+.comment .username-wrapper::before,
/*--- channel members wrap ---*/
/* 5/12/2018 */ .avatar-small[style*="141944217474826240"]+.member-inner .member-username::before,
/*--- friends list ---*/
/* 5/12/2018 */ .avatar-small[style*="141944217474826240"]+.discord-tag .username::before {
    content: '';
    background: url('https://i.imgur.com/kXkgUKX.png');
}

/* =========================================== */
/* ======== miecz BADGES  ========= https://www.twitchcord.com/twitchcord-theme/images/moderator.png */
/* =========================================== */

/*--- chat area, includes main chat, mentions popout, pinned messages, etc ---*/
.avatar-large[style*=""]+.comment .username-wrapper::after,
.avatar-large[style*=""]+.comment .username-wrapper::after,
.avatar-large[style*=""]+.comment .username-wrapper::after,
/*--- channel members wrap ---*/
.avatar-small[style*=""]+.member-inner .member-username-inner::before,
.avatar-small[style*=""]+.member-inner .member-username-inner::before,
.avatar-small[style*=""]+.member-inner .member-username-inner::before,
/*--- friends list ---*/
.avatar-small[style*=""]+.discord-tag .username::after,
.avatar-small[style*=""]+.discord-tag .username::after,
.avatar-small[style*=""]+.discord-tag .username::after {
    content: '';
    background: url('https://i.imgur.com/P42b2aV.png');
}

/* ============================================== */
/* ============== VERIFIED BADGES https://www.twitchcord.com/twitchcord-theme/images/verified5.png ============== */
/* ============================================== */

/*--- chat area, includes main chat, mentions popout, pinned messages, etc ---*/
.avatar-large[style*="131422437907759105"]+.comment .username-wrapper::after,
/*--- channel members wrap ---*/
.avatar-small[style*="131422437907759105"]+.member-inner .member-username-inner::before,
/*--- friends list ---*/
.avatar-small[style*="131422437907759105"]+.discord-tag .username::after {
    content: '';
    background: url('https://i.imgur.com/PLnsbia.png');
}

/* ============================================== */
/* ================ ADMIN BADGES  =============== */
/* ============================================== */

/*--- chat area, includes main chat, mentions popout, pinned messages, etc ---*/
.avatar-large[style*="186609657928744962"]+.comment .username-wrapper::after,
/*--- channel members wrap ---*/
.avatar-small[style*="186609657928744962"]+.member-inner .member-username-inner::before,
/*--- friends list ---*/
.avatar-small[style*="186609657928744962"]+.discord-tag .username::after {
    content: '';
    background: url('https://i.imgur.com/MldFegN.png');
}

/* ============================================== */
/* ============== STAFF BADGES  ================= */
/* ============================================== */

/*--- chat area, includes main chat, mentions popout, pinned messages, etc ---*/
.avatar-large[style*="186609657928744962"]+.comment .username-wrapper::before,
.avatar-large[style*=""]+.comment .username-wrapper::before,
/*--- channel members wrap ---*/
.avatar-small[style*="186609657928744962"]+.member-inner .member-username::before,
.avatar-small[style*=""]+.member-inner .member-username::before,
/*--- friends list ---*/
.avatar-small[style*="186609657928744962"]+.discord-tag .username::before,
.avatar-small[style*=""]+.discord-tag .username::before
 {
    content: '';
    background: url('https://i.imgur.com/9LkuRCu.png');
}

/*
https://www.twitchcord.com/twitchcord-theme/images/staff-badge.png/*
