:root {
    /* podstawe, kolory, avatary to ruszać*/
  --avatars: 0px; /* 0px - kwadratowe avatary, 50px okragle*/
  --accentcolor: #2da0ff;/*kolor akcentu/niektore elementy skina, zaznaczenie*/
  --accentcolor2: #FFF; /*drugi kolor akcentu*/
  --gradientcolor1: #f80000; /*kolor akcentu pierwszy*/
  --gradientcolor2: #8e08fc; /*kolor akcentu drugi*/
  --notifycolor: #eeeeee; /*kolor otoczki nowych wiadomosci*/
  --badgecolor: #00a2ff; /*kolor kółeczek z cyfra przy wzmiankach itp*/
  --hovercolor: #FFF; /*kolor po najechaniu, krawedzie*/
  --textcolor:#FFF; /*kolor czcionek na niektorych elementach.*/
  --spacing-width: 1px; /* 1px ramka, 0px - brak ramki*/

    /* mniej wazne, mozna nie tykać*/
  --chatbackground: #303030; /*kolor chatu pod wiadomosciami*/
  --channellistcolor: #252525; /*kolor listy kanalow, uzytkownikow*/
  --guildlistcolor: #303030; /*kolor tla serwerów*/
  --headercolor: #161616; /*kolor paska na górze kanału/serwera*/
  --notification-width: 3px;
  --borders: 1; /* 0- okrągłe rogi różnych elementów, 1 - kwadratowe*/
  --home-color: #fff; /* kolor ikony domku na liscie serwerow*/
  --home-size: 28px; 
  --rs-width: 2px; /* Width/thickness of status border */
  --online: #17b641; /* kolor  statusu online */
  --idle: #faa61a; /* zajety */
  --dnd: #f71e1e; /* dnd */
  --offline: #636b75; /* offline */
  --invisible: #747f8d; /* niewidoczny */
  --streaming: #643da7; /* stream */

}

/*Dodatki - tło do skina, chowanie guzików gif, gift, gier*/

/*chowajka guzików na chacie https://owo.oooooooooooooo.ooo/i/hxth.png*/
.buttons-205you .buttonWrapper-1ZmCpA[tabindex="3"], /*gift*/
.buttons-205you .buttonWrapper-1ZmCpA[tabindex="4"] {/*GIF**/
  display: none !important;
}

/*chowajka gier, bilbioteni, nitro, aktywności - zostaje tylko lista znajomych https://owo.oooooooooooooo.ooo/i/n4c3.png*/
.channel-2QD9_O[href="/library"], /*biblioteka*/
.channel-2QD9_O[href="/activity"], /*aktywnosc*/
.channel-2QD9_O[href="/store"]{ /*nitro*/
    display: none;
}

/* Tlo, podajcie swojego linka tylko*/
html::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("TU LINK .png .jpg itp");
    background-size: cover;
    background-position: center;
    background-color: transparent !important;
    opacity: 0.04;
    z-index: 999999999999;
    pointer-events: none;
}
