:root {
    /* podstawe, kolory, avatary to ruszać*/
  --avatars: 50px; /* 0px - kwadratowe avatary, 50px okragle*/
  --accentcolor: #3a90ec; /*główny kolor skina/elementów po kliknięciu*/
  --accentcolor2: #eeeeee; /*kolor skina w elemantach po najechaniu (np pasek na liście osob)*/
  --notifycolor: #eeeeee; /*kolor otoczki nowych wiadomosci*/
  --badgecolor: #3a90ec; /*kolor kółeczek z cyfra przy wzmiankach itp*/
  --textcolor:#FFF; /*kolor czcionek na niektorych elementach.*/

    /* mniej wazne, mozna nie tykać*/
  --titlebar: #212121; /*kolor paska z napisem discord*/
  --chatbackground: #303030; /*kolor chatu pod wiadomosciami*/
  --channellistcolor: #252525; /*kolor listy kanalow, uzytkownikow*/
  --guildlistcolor: #303030; /*kolor tla serwerów*/
  --headercolor: #161616; /*kolor paska na górze kanału/serwera*/
  --notification-width:3px;
  --borders: 1; /* 0- okrągłe rogi różnych elementów, 1 - kwadratowe*/
  --chatanim: 0;
  --chatspacing: 10px; /*odstep miedzy wiadomosciami*/
  --home-color: #fff; /* kolor ikony domku na liscie serwerow*/
  --home-size: 28px; 
  --rs-spacing: 2px; /* odstep miedzy ramka a avatarem */
  --rs-width: 2px; /* wielkosc ramki wokol avatara */
  --rs-popout-spacing: 1px; /* odleglosc miedzy statusem a nickiem */
  --rs-popout-width: 2px; /* odleglosc mniedzy popoutami */
  --rs-profile-spacing: 0px; /* odstep w profilu */
  --rs-profile-width: 4px; /* widocznosc ramki statusu w proflu */
  --online: #17b641; /* kolor  statusu online */
  --idle: #faa61a; /* zajety */
  --dnd: #f71e1e; /* dnd */
  --offline: #636b75; /* offline */
  --invisible: #747f8d; /* niewidoczny */
  --streaming: #643da7; /* stream */

}

/*Dodatki - tło do skina, chowanie guzików gif, gift, gier*/

/*chowajka guzików na chacie https://owo.oooooooooooooo.ooo/i/hxth.png*/
.buttons-205you .buttonWrapper-1ZmCpA[tabindex="3"], /*gift*/
.buttons-205you .buttonWrapper-1ZmCpA[tabindex="4"] {/*GIF**/
  display: none !important;
}

/*chowajka gier, bilbioteni, nitro, aktywności - zostaje tylko lista znajomych https://owo.oooooooooooooo.ooo/i/n4c3.png*/
.channel-2QD9_O[href="/library"], /*biblioteka*/
.channel-2QD9_O[href="/activity"], /*aktywnosc*/
.channel-2QD9_O[href="/store"]{ /*nitro*/
    display: none;
}

/* Tlo, podajcie swojego linka tylko*/
html:after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("TU LINK .png .jpg itp");
    background-size: cover;
    background-position: center;
    background-color: transparent !important;
    opacity: 0.04;
    z-index: 999999999999;
    pointer-events: none;
}
