
:root {
  --home-color: #eee;
  --home-size: 36px;
  --avatars: 50%; /* 0% - kwadratowe avatary*/
  --borders: 1; /* 0- okrągłe rogi różnych elementów, 1 - kwadratowe*/
  --chatanim: 0;
  --chatspacing: 10px; /*odstep miedzy wiadomosciami*/
  --titlebar: #212121; /*kolor paska z napisem discord*/
  --chatbackground: #303030; /*kolor chatu pod wiadomosciami*/
  --channellistcolor: #252525; /*kolor listy kanalow, uzytkownikow*/
  --guildlistcolor: #303030; /*kolor tla serwerów*/
  --headercolor: #161616; /*kolor paska na górze kanału/serwera*/
  --accentcolor: #3F85FF; /*kolor skina*/
  --accentcolor2: #eeeeee; /*kolor skina w elemantach po najechaniu*/
  --badgecolor: #3F85FF; /*kolor znaczników nowych wiadomości, serwerów czy wzmianek*/
  --notification-width:3px;
  --textcolor:#FFF; /* kolor czcionek na niektorych elementach.*/
  --rs-spacing: 2px; /* odstep miedzy ramka a avatarem */
  --rs-width: 2px; /* wielkosc ramki wokol avatara */
  --rs-popout-spacing: 1px; /* odleglosc miedzy statusem a nickiem */
  --rs-popout-width: 2px; /* odleglosc mniedzy popoutami */
  --rs-profile-spacing: 0px; /* odstep w profilu */
  --rs-profile-width: 4px; /* widocznosc ramki statusu w proflu */
  --online: #23D700; /* online */
  --idle: #faa61a; /* zajety */
  --dnd: #f71e1e; /* dnd */
  --offline: #636b75; /* offline */
  --invisible: #747f8d; /* niewidoczny */
  --streaming: #643da7; /* stream */



  --shadow: rgba(0,0,0,.8);

    /*BIALE*/

    --white0:rgba(255,255,255,0);/*var(--white0)*/
    --white1:rgba(255,255,255,.1);/*var(--white1)*/
    --white2:rgba(255,255,255,.2);/*var(--white2)*/
    --white3:rgba(255,255,255,.3);/*var(--white3)*/
    --white4:rgba(255,255,255,.4);/*var(--white4)*/
    --white5:rgba(255,255,255,.5);/*var(--white5)*/
    --white6:rgba(255,255,255,.6);/*var(--white6)*/
    --white7:rgba(255,255,255,.7);/*var(--white7)*/
    --white8:rgba(255,255,255,.8);/*var(--white8)*/
    --white9:rgba(255,255,255,.9);/*var(--white9)*/
    --white10:rgba(255,255,255,1);/*var(--white10)*/


    /*BLACK*/
    --black0:rgba(0,0,0,0);/*var(--black0)*/
    --black1:rgba(0,0,0,.1);/*var(--black1)*/
    --black2:rgba(0,0,0,.2);/*var(--black2)*/
    --black3:rgba(0,0,0,.3);/*var(--black3)*/
    --black4:rgba(0,0,0,.4);/*var(--black4)*/
    --black5:rgba(0,0,0,.5);/*var(--black5)*/
    --black6:rgba(0,0,0,.6);/*var(--black6)*/
    --black7:rgba(0,0,0,.7);/*var(--black7)*/
    --black8:rgba(0,0,0,.8);/*var(--black8)*/
    --black9:rgba(0,0,0,.9);/*var(--black9)*/
    --black10:rgba(0,0,0,1);/*var(--black10)*/
}



.channelNotices-41mJbj .channelNotice-1-XFjC .message-3SOT5P .btn-11C5_u {
  background-color: transparent;
  border-color: var(--accentcolor);
  border-radius: 0px;
  transition: all .2s ease-in-out;
}

.channelNotices-41mJbj .channelNotice-1-XFjC .message-3SOT5P .btn-11C5_u:hover {
  background-color: var(--accentcolor);
  border-color: var(--accentcolor);
}
