/* Windows 11 font */
@import url(https://github.com/Gomido/BetterDiscord/raw/refs/heads/master/themes/Windows11Theme/SegoeUIVariableStaticDisplay.ttf);
/* Font */
:root {
    --font-primary: Segoe UI, sans-serif;
    --font-display: Segoe UI, sans-serif;
    --font-headline: Segoe UI, sans-serif;
}
