/**
 * @name Discord 11 Fork ONLINE
 * @description Based on Windows 11's UI (forked from zuzumi)
 * @author Lilki
 * @authorId 186609657928744962
 * @version 1.0
 * @website https://github.com/Gomido
 * @source https://rawgit.com/Gomido/BetterDiscord/master/themes/Windows11Theme/base.css
*/

/*--------------------------------------------------------------
                           Kod skina
---------------------------------------------------------------*/
@import url(https://rawgit.com/Gomido/BetterDiscord/master/themes/Windows11Theme/base.css);

/*--------------------------------------------------------------
                           Ustawienia
---------------------------------------------------------------*/
:root {
    --wallpaper-is: none;               /* Aby dodać tło wpisz "url("http://link.com/img.jpg") [none to brak tapety]*/
    --blur-size: 24px;                  /* Rozmycie tapety [24px domyslne] */
    --opacity-thing: 0.6;               /* Przezroczystosc 0 do 1 [0.6 domyslne] */
    --server-size: 48px;                /* Rozmiar paska serwerów [48px domyslne] */
    --fluent-guilds-icon-size: 36px;    /* Rozmiar ikon serwerów */
    --avatar-size: 45px;                /* Rozmiar awatarów na chacie */

    /* Kolory skina akcenty, przyciski, znaczki powiadomień- MOŻNA ZMIENIĆ */
    /* HSL(Hue, Saturation, Lightness). Domyślnie kolor discordowy fioletowy */
    --H: 227;  /* Wartość liczbowa [227 domyślne] */
    --S: 58%;  /* Podać % [58% domyślne] */
    --L: 65%;  /* Podać  % [65% domyślne] */
    --mention-color: hsl(227, 58%, 65%, 0.1); /* Też zmienić, kolor tła wzmianek Domyślne [227,58%,65%,01] */
}
